* {
  box-sizing: border-box;
  background-color:rgb(240,255,240) ;
}
body{
  display: flex;
}
  
  .item{
      display:flex;
      
      box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
      padding: 20px 30px;
      align-items: center;
      
  }
  .item:nth-child(odd) {
    border-top:  1px solid #E1E8EE;
    border-bottom:  1px solid #E1E8EE;
  }
  .shopping-cart {
    width: 750px;
    height: 423px;
    margin: 80px auto;
    background-color: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.356);
    border-radius: 6px;
    
  }
  h1{
    background-color: yellowgreen;
    color: white ;
    text-align:center;
    padding-top: 150px;
    padding-bottom: 50px;
    border-bottom: 1px solid white;
  }
  header {
    display: flex;
    flex-direction:column;
    align-items:stretch;
    align-content: center;
    background-color: yellowgreen;
    margin-right: 50px;
  }

  .buttons {
    position: relative;
    padding-top: 30px;
    margin-right: 60px;
  }

  .like-btn {
    display: inline-block;
    Cursor: pointer;
  }

   
  .like-btn {
    top: 9px;
    left: 15px;
    color:gray;
    width: 10px;
    height: 10px;
    background-size: 2900%;
    background-repeat: no-repeat;
  }
  .danger{
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
    margin-left: 10px;
  }
.cart-total {
  width: 83px;
  padding-top: 27px;
  padding-left: 700px;
  text-align:right;
  color: #43484D;
  font-size: 1.1em;
}
button:focus,
input:focus {
  outline:0;
}
  .is-active {
    animation-name: animate;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-timing-function: steps(28);
    animation-fill-mode: forwards;
  }
   
  @keyframes animate {
    0%   { background-position: left;  }
    50%  { background-position: right; }
    100% { background-position: right; }
  }
  .quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }
  .item div{
    display:flex;
    justify-content:space-around;
    margin-left: 20px;
  }
.color{
  margin-left: 10px;
}


   
 
 